.home {
  width: 100%;
  transition: var(--transition);

  &--container {
    padding: 1rem;

    &--head {
      padding: 5rem 1rem 2rem 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &--title {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        &--span {
          font-size: 2rem;
          font-weight: 800;
        }
      }
      &--search {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        &--input {
          width: 300px;
          height: 30px;
          border-radius: 10px;
          border: 1px solid var(--black2-text);
          outline: none;
          padding-left: 1rem;
        }
        &--input[type="text"] {
          font-size: 1rem;
          font-weight: 600;
        }
        &--icon {
          position: absolute;
          right: 10px;
          font-size: 1.7rem;
          color: var(--black2-text);
        }
      }
    }
    &--videos {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
    }
  }
}
