.sidebar {
  width: 200px;
  color: var(--black-text);
  transition: var(--transition);

  &--container {
    position: relative;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    &--head {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-bottom: 1rem;
      &--profile {
        width: 80px;
        height: 80px;
        border-radius: 50%;
      }
    }
    &--body {
      &--category {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 15px;
        &--item {
          display: flex;
          align-items: center;
          justify-content: left;
          width: 120px;
          flex-direction: row-reverse;
          gap: 20px;
          border: 2px solid var(--black2-text);
          padding: 1rem;
          border-radius: 15px;
          cursor: pointer;

          transition: var(--transition);
          &--title {
            font-size: 1rem;
            font-weight: 600;
          }
          &--icon {
            font-size: 1.2rem;
            font-size: 500;
          }
        }
      }
    }
  }
}

.white-color {
  color: var(--white-text);
}

.light-box-shadow {
  box-shadow: rgba(33, 35, 38, 0.1) 15px 0px 10px -10px;
}

.dark-box-shadow {
  box-shadow: rgba(117, 117, 117, 0.1) 10px 0px 15px -10px;
  display: block;
  z-index: 99;
}
